//out: false

body {
    margin: 0 auto;
    font-family: Raleway;
    background-color: #d1d1d1;
}

.container {
    margin: 0 auto;
    width: 1920px;
    display: flex;
    flex-direction: column;
    background-color: white;
}