//out: false

@player-width: 594px;
//@timing-func: cubic-bezier(.25, .72, .35, 1);
//@animation-duration: 25s;

//@keyframes header_player {
//    0% {
//        margin: 0;
//    }
//    10% {
//        margin: 0 0 0 -(@player-width * 1);
//    }
//    20% {
//        margin: 0 0 0 -(@player-width * 1);
//    }
//    30% {
//        margin: 0 0 0 -(@player-width * 2);
//    }
//    40% {
//        margin: 0 0 0 -(@player-width * 2);
//    }
//    50% {
//        margin: 0 0 0 -(@player-width * 3);
//    }
//    60% {
//        margin: 0 0 0 -(@player-width * 3);
//    }
//    70% {
//        margin: 0 0 0 -(@player-width * 4);
//    }
//    80% {
//        margin: 0 0 0 -(@player-width * 4);
//    }
//    90% {
//        margin: 0;
//    }
//}
//
//@keyframes header_player_p1 {
//    0% {
//        opacity: 1;
//    }
//    10% {
//        opacity: 0.3;
//    }
//    100% {
//        opacity: 1;
//    }
//}
//
//@keyframes header_player_p2 {
//    0% {opacity: 0.3;}
//    10% {opacity: 1;}
//    20% {opacity: 1;}
//    30% {opacity: 0.3;}
//    100% {opacity: 0.3;}
//}
//
//@keyframes header_player_p3 {
//    0% {opacity: 0.3;}
//    20% {opacity: 0.3;}
//    30% {opacity: 1;}
//    40% {opacity: 1;}
//    50% {opacity: 0.3;}
//    100% {opacity: 0.3;}
//}
//
//@keyframes header_player_p4 {
//    0% {opacity: 0.3;}
//    40% {opacity: 0.3;}
//    50% {opacity: 1;}
//    60% {opacity: 1;}
//    70% {opacity: 0.3;}
//    100% {opacity: 0.3;}
//}
//
//@keyframes header_player_p5 {
//    0% {opacity: 0.3;}
//    60% {opacity: 0.3;}
//    70% {opacity: 1;}
//    80% {opacity: 1;}
//    90% {opacity: 0.3;}
//    100% {opacity: 0.3;}
//}

.create-header-arrow() {
    text-decoration: none;
    font-size: 75px;
    opacity: 0.5;
    #labels.light();
}

.header {
    background-image: url(../img/bg_photo_11949.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &-nav {
        max-width: @max-active-width;
        width: 100%;
        margin: 38px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        justify-self: flex-start;
        order: 1;

        &-logo {
            font-family: @font-family-base;
            font-size: 34px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: -0.01em;
            margin: 0 auto 0 15px;
            display: flex;
            align-items: center;
            text-decoration: none;
            #labels.light();

            &-svg {
                fill: @light-color;
                transition: @default-transition;
            }

            &:hover &-svg {
                fill: @light-hover-color;
            }

            &:active &-svg {
                fill: @light-active-color;
            }
        }

        &-pages {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;

            &-li {
                margin: 0 28px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &>:nth-child(8),
            &>:last-child {
                margin: 0;
            }

            &>:nth-child(9) {
                margin: 0 26px 0 60px;
            }
        }

        &-page {
            text-decoration: none;
            font-family: @font-family-secondary;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            #labels.light();
        }

        &-magazine {
            display: flex;
            width: 24px;
            height: 24px;
            font-size: 28px;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
        }

        &-search {
            display: flex;
            width: 24px;
            height: 24px;
            font-size: 28px;
            align-items: center;
            justify-content: center;
        }
    }

    &-dots {
        order: 3;
        display: flex;
        margin: auto 0 42px 12px;

        &-item {
            margin: 0 9px 0 0;
            transition: @default-transition;

            &:hover::after {
                opacity: 0.9;
            }

            &:active::after {
                opacity: 0.9;
                background-color: @light-active-color;
            }

            &::after {
                content: '';
                transition: @default-transition;
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: @light-color;
                opacity: 0.5;
                box-sizing: border-box;
            }

            &-selected::after {
                background-color: transparent !important;
                box-shadow: 0 0 0 2px @light-color;
            }
        }

        &>:last-child {
            margin: 0;
        }
    }

    &-switcher {
        max-width: 1635px;
        margin: 276px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        justify-self: flex-end;
        order: 2;

        &-prev {
            .create-header-arrow();
            margin: 0 0 15px 14px;
        }

        &-next {
            .create-header-arrow();
            margin: 0 0 15px 0;
        }

        &-items {
            display: flex;
            flex-direction: row;
            max-width: @player-width;
            overflow: hidden;
            transition: @default-transition;

            .carousel-position-0 {
                &:nth-child(1) {
                    margin: 0;
                    opacity: 1;
                }
                &:nth-child(2) {
                    opacity: 0.3;
                }
                &:nth-child(3) {
                    opacity: 0.3;
                }
                &:nth-child(4) {
                    opacity: 0.3;
                }
                &:nth-child(5) {
                    opacity: 0.3;
                }
            }

            .carousel-position-1 {
                &:nth-child(1) {
                    margin: 0 0 0 -(@player-width);
                    opacity: 0.3;
                }
                &:nth-child(2) {
                    opacity: 1;
                }
                &:nth-child(3) {
                    opacity: 0.3;
                }
                &:nth-child(4) {
                    opacity: 0.3;
                }
                &:nth-child(5) {
                    opacity: 0.3;
                }
            }

            .carousel-position-2 {
                &:nth-child(1) {
                    margin: 0 0 0 -(@player-width * 2);
                    opacity: 0.3;
                }
                &:nth-child(2) {
                    opacity: 0.3;
                }
                &:nth-child(3) {
                    opacity: 1;
                }
                &:nth-child(4) {
                    opacity: 0.3;
                }
                &:nth-child(5) {
                    opacity: 0.3;
                }
            }

            .carousel-position-3 {
                &:nth-child(1) {
                    margin: 0 0 0 -(@player-width * 3);
                    opacity: 0.3;
                }
                &:nth-child(2) {
                    opacity: 0.3;
                }
                &:nth-child(3) {
                    opacity: 0.3;
                }
                &:nth-child(4) {
                    opacity: 1
                }
                &:nth-child(5) {
                    opacity: 0.3;
                }
            }

            .carousel-position-4 {
                &:nth-child(1) {
                    margin: 0 0 0 -(@player-width * 4);
                    opacity: 0.3;
                }
                &:nth-child(2) {
                    opacity: 0.3;
                }
                &:nth-child(3) {
                    opacity: 0.3;
                }
                &:nth-child(4) {
                    opacity: 0.3
                }
                &:nth-child(5) {
                    opacity: 1;
                }
            }



            //&:hover>:nth-child(1) {
            //    animation-play-state: paused;
            //}
            //&:hover>:nth-child(2) {
            //    animation-play-state: paused;
            //}
            //&:hover>:nth-child(3) {
            //    animation-play-state: paused;
            //}
            //&:hover>:nth-child(4) {
            //    animation-play-state: paused;
            //}
            //&:hover>:nth-child(5) {
            //    animation-play-state: paused;
            //}
        }

        &-item {
            display: flex;
            min-width: 100%;
            flex-direction: column;
            align-items: center;
            transition: @default-transition;

            //&:first-child {
            //    animation: header_player  @animation-duration @timing-func (@animation-duration / 5) infinite normal forwards,
            //                header_player_p1 @animation-duration @timing-func (@animation-duration / 5) infinite normal forwards;
            //}
            //
            //.create-animation() {
            //    animation-delay: (@animation-duration / 5);
            //    animation-duration: @animation-duration;
            //    animation-iteration-count: infinite;
            //    animation-direction: normal;
            //    animation-timing-function: @timing-func;
            //    animation-fill-mode: forwards;
            //}
            //
            //&:nth-child(2) {
            //    animation-name: header_player_p2;
            //    .create-animation();
            //}
            //
            //&:nth-child(3) {
            //    animation-name: header_player_p3;
            //    .create-animation();
            //}
            //
            //&:nth-child(4) {
            //    animation-name: header_player_p4;
            //    .create-animation();
            //}
            //
            //&:nth-child(5) {
            //    animation-name: header_player_p5;
            //    .create-animation();
            //}

            &-subheader {
                font-family: @font-family-base;
                font-size: 36px;
                line-height: 1.2;
                font-weight: 500;
                color: @light-color;
            }

            &-header {
                font-family: @font-family-base;
                font-size: 52px;
                line-height: 1;
                font-weight: 800;
                color: @light-color;
                margin: 9px 0 16px 0;
                letter-spacing: 0.005em;
            }

            &-info {
                max-width: 95%;
                white-space: pre-wrap;
                word-wrap: break-word;
                text-align: center;
                font-family: @font-family-secondary;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                color: @light-color;
                margin: 0 0 48px 0;
                letter-spacing: 0.05em;
            }

            &-button {
                .create-button();
            }
        }
    }
}