//out: false

@presentation-height: 705px;

.presentation {
    position: relative;
    width: 100%;
    height: @presentation-height;

    &-controls {
        width: 100%;
        height: @presentation-height;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        //background-color: rgba(0, 0, 0, 0.5);
        background-image: url("../img/bg_photo_10983.jpg");
        background-blend-mode: darken;

        &-hided {
            display: none;
        }
    }

    &-play {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 76px;
        padding: 0;
        margin: 210px 0 38px 15px;

        #labels.light();
    }

    &-title {
        .create-section-title(white, 500);
        z-index: 10;
        padding: 0;
        margin: 0 0 13px 13px;
    }

    &-info {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #ffffff;
        z-index: 10;
        max-width: 546px;
        width: 100%;
        white-space: pre-wrap;
        word-break: break-all;
        text-align: center;
    }

    &-timestamp {
        margin: 28px 0 0 20px;
        font-family: @font-family-secondary;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #c7b299;
    }

    &-video {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}