//out: false

@project-card-triangle-height: 10px;
@project-card-triangle-width: 30px;

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;

    &-title {
        .create-section-title(#555555);
        padding: 0;
        margin: 76px 0 15px 0;
    }

    &-info {
        font-family: @font-family-secondary;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        max-width: 776px;
        text-align: center;
        margin: 0 0 34px 0;
    }

    &-classes {
        display: flex;
        margin: 0 0 25px 0;

        &-button {
            display: none;
        }

        &-label {
            min-width: 25px;
            padding: 5px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            margin: 0 10px 0 0;
            font-family: @font-family-secondary;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            color: #8c8c8c;
            transition: @default-transition;

            &:hover {
                border: 1px solid #998675;
                background-color: #fbfaf8;
            }
        }

        &-button:checked+label {
            border: 1px solid transparent !important;
            background-color: #998675;
            color: white;
        }

        &>:last-child {
            margin: 0;
        }
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;

        &-item {
            display: flex;
            flex-direction: column;
            border: 15px solid transparent;
            position: relative;

            &-image {
                transition: @default-transition;
            }

            &-footer {
                padding: 26px 0 26px 29px;
                background-color: #fbfaf8;
                position: relative;
                z-index: 20;
                transition: @default-transition;

                &-title {
                    margin: 0 0 6px 0;
                    padding: 0;
                    font-size: 20px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: #c7b299;
                }

                &-subtitle {
                    font-family: Montserrat;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #d1d1d1;
                }

                &::before {
                    content: '';
                    transition: @default-transition;
                    width: 0;
                    height: 0;
                    border-left: (@project-card-triangle-width / 2) solid transparent;
                    border-right: (@project-card-triangle-width / 2) solid transparent;
                    border-bottom: @project-card-triangle-height solid #fbfaf8;
                    position: absolute;
                    top: -@project-card-triangle-height;
                    left: 20px;
                }
            }

            .create-transparent-button() {
                color: @light-color;
                font-size: 26px;
                margin: 0 28px 0 0;
                height: auto;
                background-color: transparent;
                border: none;
                outline: none;
                position: absolute;
                top: 106px;
                display: none;
                transition: @default-transition;
                cursor: pointer;

                &:hover {
                    color: @light-hover-color;
                }

                &:active {
                    color: @light-active-color;
                }
            }

            &-link {
                .create-transparent-button();
                left: 144px;
            }

            &-search {
                .create-transparent-button();
                left: 198px;
            }

            &:hover>&-footer {
                background-color: #362f2d;

                &::before {
                    border-bottom: @project-card-triangle-height solid #362f2d;
                }
            }

            &:hover>img {
                filter: brightness(50%);
            }

            &:hover>button {
                display: block;
            }
        }
    }

    &-more {
        .create-button();
        margin: 21px 0 80px 0;
    }
}