// out: ../css/style.css

body {
    margin: 0 auto;
    font-family: Raleway;
    background-color: #d1d1d1;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat-v15-latin-200.woff2);
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat-v15-latin-300.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat-v15-latin-regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat-v15-latin-regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-v18-latin-regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-v18-latin-500.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-v18-latin-600.woff2);
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-v18-latin-700.woff2);
    font-weight: 700;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway-v18-latin-800.woff2);
    font-weight: 800;
}

.create-button() {
    width: 170px;
    font-family: Raleway;
    background-color: #998675;
    border-radius: 3px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    outline: none;
    border: none;

    &:active {
        background-color: #ffffff;
        color: #998675;
    }
}

.container {
    margin: 0 auto;
    width: 1920px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header {
    background-image: url(../img/bg_photo_11949.jpg);
    background-size: cover;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // justify-content: space-between;

    &-nav {
        margin: 40px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &-logo {
            font-family: Raleway;
            font-size: 34px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: -0.04em;
            color: #ffffff;
            margin: 0 220px 0 0;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                // display: block;
                width: 64px;
                height: 56px;
                background-image: url(../img/logos_11279.png);
            }
        }

        &-pages {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;

            &-li {
                margin: 0 30px 0 0;
            }

            &>:nth-child(8),
            &>:last-child {
                margin: 0;
            }

            &>:nth-child(9) {
                margin: 0 28px 0 64px;
            }
        }

        &-page {
            text-decoration: none;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #ffffff;

            &-selected {
                color: #c7b299;
            }
        }

        &-magazine {
            display: block;
            width: 18px;
            height: 24px;
            background-image: url(../img/icon_cart_12273.png);
        }

        &-search {
            display: block;
            width: 24px;
            height: 24px;
            background-image: url(../img/icon_search_12272.png);
        }
    }

    &-center {
        margin: 0 0 0 0;
        padding: 0 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;

        .create-arr(@img) {
            font-family: Raleway;
            color: white;
            font-size: 48px;
            width: 40px;
            height: 73px;
            opacity: 0.5;
            background-image: url(@img);

            &:hover {
                opacity: 1;
            }
        }

        &-prev {
            .create-arr("../img/left_11970.png");
        }

        &-next {
            .create-arr("../img/right_11969.png");
        }

        &-template {
            width: 590px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-subheader {
                font-family: Raleway;
                font-size: 36px;
                line-height: 1.2;
                font-weight: 500;
                color: #ffffff;
            }

            &-header {
                font-family: Raleway;
                font-size: 52px;
                line-height: 1.2;
                font-weight: 800;
                color: #ffffff;
                margin: 14px 0 20px 0;
            }

            &-info {
                white-space: pre-wrap;
                word-wrap: break-word;
                text-align: center;
                font-family: Montserrat;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                color: #ffffff;
                margin: 0 0 52px 0;
            }

            &-get-started {
                .create-button();
            }
        }
    }

    &-south {
        margin: 0 0 42px 0;

        &-player {
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;

            &-li {
                margin: 0 10px 0 0;
            }

            &>:last-child {
                margin: 0;
            }

            &-item {
                display: none;


                &+label {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: white;
                    opacity: 0.5;
                    box-sizing: border-box;
                }

                &:checked+label {
                    background-color: transparent;
                    box-shadow: 0 0 0 2px white;
                }
            }
        }
    }
}

.activities-list {
    list-style-type: none;
    padding: 0;
    ;
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 270px;
        margin: 0 34px 0 0;
    }

    .activity {
        display: none;

        &-label {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:after {
                content: '';
                // display: inline;
                margin: 30px 0 0 0;
                width: 70px;
                height: 3px;
                background-color: #f1eee9;
            }
        }

        &-label::before {
            content: "";
            color: #555555;
            font-family: 'geekbrains-icons';
            display: block;
            width: 49px;
            height: 49px;
            font-size: 45px;
        }

        &:checked+.activity-label::after {
            background-color: #c7b299;
        }

        &:checked+.activity-label::before {
            color: #c7b299;
        }

        &:checked+.activity-label>.activity-header {
            color: #c7b299;
        }

        &-header {
            font-size: 22px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
            padding: 0;
            margin: 30px 0 20px 0;
        }

        &-info {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #8c8c8c;
            text-align: center;
        }
    }

    &>:last-child {
        margin: 0;
    }

    &>:nth-child(1)>.activity-label::before {
        content: "\e900";
    }

    &>:nth-child(2)>.activity-label::before {
        content: "\e901";
    }

    &>:nth-child(3)>.activity-label::before {
        content: "\e902";
    }

    &>:nth-child(4)>.activity-label::before {
        content: "\e903";
    }
}

.ideas {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfaf8;
    height: 700px;
    box-sizing: border-box;

    &-header {
        padding: 0;
        margin: 83px 0 24px 0;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
    }

    &-info {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        width: 757px;
        text-align: center;
        margin: 0 0 40px 0;
    }

    &-images {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &>:nth-child(1) {
            position: absolute;
            width: 770px;
            height: 400px;
            z-index: 10;
            bottom: 0;
            right: 50%;
            transform: translate(calc(-50% + 770px - 230px), 0);
        }

        &>:nth-child(2) {
            position: absolute;
            margin: 0 auto;
            z-index: 20;
            width: 770px;
            height: 482px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &>:nth-child(3) {
            position: absolute;
            width: 770px;
            height: 400px;
            z-index: 10;
            bottom: 0;
            left: 50%;
            transform: translate(calc(50% - 770px + 230px), 0);
        }
    }
}

.word-press-theme {
    padding: 50px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;

    &-title {
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        margin: 0 470px 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        &-waxcom {
            color: #c7b299;
        }

        &::after {
            content: "Don't Forget to Rate the Template. Thanks so much!";
            font-family: Montserrat;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 300;
            color: #615855;
            margin: 8px 0 0 0;
        }
    }

    &-purchase {
        .create-button();
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;

    &-title {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        padding: 0;
        margin: 80px 0 24px 0;
    }

    &-info {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        width: 760px;
        text-align: center;
        margin: 0 0 40px 0;
    }

    &-classes {
        display: flex;
        margin: 0 0 25px 0;

        &-button {
            display: none;
        }

        &-label {
            padding: 10px 21px;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            margin: 0 10px 0 0;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            color: #8c8c8c;
        }

        &-button:checked+label {
            border: 1px solid transparent;
            background-color: #998675;
            color: white;
        }

        &>:last-child {
            margin: 0;
        }
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;

        &-item {
            display: flex;
            flex-direction: column;
            border: 15px solid transparent;

            &-button {
                display: none;
            }

            &-label {
                display: flex;
                flex-direction: column;
                position: relative;
            }

            &-footer {
                padding: 30px 0 28px 28px;
                background-color: #fbfaf8;
                z-index: 20;

                &-title {
                    margin: 0 0 14px 0;
                    padding: 0;
                    font-size: 20px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: #c7b299;
                }

                &-subtitle {
                    font-family: Montserrat;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #d1d1d1;
                }
            }

            &-active {
                position: absolute;
                display: none;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                height: 100%;
                z-index: 10;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 106px 0 0 0;
                box-sizing: border-box;

                &-link {
                    text-decoration: none;
                    color: white;
                    font-size: 26px;
                    margin: 0 28px 0 0;
                    height: auto;

                    &:hover {
                        color: #c7b299;
                    }
                }

                &-search {
                    text-decoration: none;
                    color: white;
                    font-size: 26px;
                    margin: 0;

                    &:hover {
                        color: #c7b299;
                    }
                }
            }

            &-button:checked+label>&-footer {
                background-color: #362f2d;
            }

            &-button:checked+label>&-active {
                display: flex;
            }

            &-button:checked+label>&-footer>&-title {
                background-color: #ffffff;
            }

            &-button:checked+label>&-footer>&-subtitle {
                background-color: #c7b299;
            }
        }
    }

    &-more {
        .create-button();
        margin: 25px 0 80px 0;
    }
}