// out: ../css/style.css

@import "global-vars.less";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1280px;
}
.button-interactive() {
    cursor: pointer;
    &:hover {
        background-color: @light-gray-style-color;
    }
    &:active {
        background-color: wheat;
    }
}
.compile-font(@font-size, @line-height, @font-weight, @color) {
    font-size: @font-size;
    line-height: @line-height;
    font-weight: @font-weight;
    color: @color;
}
.title-font(@color: @dark-gray-style-color) {
    .compile-font(30px, 36px, 400, @color);
}
.subtitle-font(@color: @dark-gray-style-color) {
    .compile-font(24px, 30px, 400, @color);
}
.base-font(@color: @black-text-color) {
    .compile-font(16px, 24px, 400, @color);
}
.make-default-section-paddings(@top: @defaul-section-padding, @right: @defaul-section-padding, @bottom: @defaul-section-padding, @left: @defaul-section-padding) {
    padding: @top @right @bottom @left;
}
.container {
    margin: 0;
    padding: 0;    
}
.main-header {
    background-color: @dark-gray-style-color;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    .make-default-section-paddings();
    &-wrapper {
        box-sizing: border-box;
        padding-right: 10px;
    }
    &-title {
        margin: 0;
        .compile-font(60px, 1.0, 400, white);
    }
    &-list {
        margin: 50px 0 0 0;
        list-style-type: none;
        padding-left: 0;
        .compile-font(20px, 36px, 400, white);
        &-item::before {
            content: url('../img/check_icon_346.png');
            margin-right: 10px;
        }
    }
    &-img {
        display: block;
        height: 214px;
        width: 469px;
        background-color: #ffffff;
    }
}
.content {
    padding: 0px;
}
.about-product {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    .make-default-section-paddings();
    &-wrapper {
        max-width: 580px;
        box-sizing: border-box;
    }
    &-title {
        margin: 0 0 30px 0;
        .title-font();
    }
    &-p {
        margin: 0 0 20px 0;
        padding: 0 10px 0 0;
        .base-font();
        &:last-child {
            margin: 0;
        }
    }    
    &-video {
        display: block;
        width: 430px;
        height: 245px;
        background-color: @dark-gray-style-color;
    }
}
.dignity {
    box-sizing: border-box;
    background-color: @light-gray-style-color;
    margin: 0;
    .make-default-section-paddings(@defaul-section-padding, @defaul-section-padding, 15px, @defaul-section-padding);
    &-title {
        .title-font();
        text-align: center;
        margin: 0 0 30px 0;
    }
    &-list {
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        &-item {
            margin: 0 0 35px 0;
            padding: 0 10px 0 0;
            display: flex;
            width: 50%;
            box-sizing: border-box;
            .base-font();
            &-summary {
                display: flex;
                outline: none;
                &-hidden {
                    font-style: italic;
                    margin: 16px 0 0 0;
                    padding: 0 0 0 40px;
                }
                &::-webkit-details-marker {
                    display: none;    
                }
                &::before {
                    content: "+";
                    display: flex;
                    min-width: 32px;
                    max-width: 32px;
                    min-height: 32px;
                    max-height: 32px;
                    background-color: @dark-gray-style-color;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    .compile-font(38px, 38px, 400, white);
                    cursor: pointer;    
                }
            }            
        }
        &-item[open] &-item-summary::before {
            content: "-";
        }
    }
}
.screenshots {
    box-sizing: border-box;
    margin: 0;
    .make-default-section-paddings();
    &-title {
        .title-font();
        text-align: center;
        margin: 0;
    }
    &-wrapper {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
    &-fig {
        margin: 30px 0 0 0;
        display: flex;
        width: 50%;
        &-img {
            margin: 0 15px 0 0;
            display: block;
            min-width: 200px;
            height: 150px;
            background: @dark-gray-style-color;
        }
        &-caption {
            margin: 0;
        }
        &-title {
            margin: 0;
            .subtitle-font();
        }
        &-p {            
            word-wrap: break-word;
            word-break: normal;
            margin: 5px 0 0 0;
            padding: 0 15px 0 0;
            .base-font();            
        }
    }
}
.reviews {
    @user-circle-size: 75px;
    display: flex;
    flex-wrap: wrap;
    background-color: @light-gray-style-color;
    margin: 0;
    .make-default-section-paddings();
    &-title {
        width: 100%;
        text-align: center;
        margin: 0 0 35px 0;
        .title-font();
    }
    .feed-1 {
        padding: 0 32px 24px 0;
    }
    .feed-2 {
        padding: 0 0 24px 0;
    }
    .feed-3 {
        padding: 0 32px 0 0;
    }
    .feed-4 {
        padding: 0;
    }
    &-feedback-wrapper {
        width: 50%;
        
        box-sizing: border-box;
        display: flex;
        &:before {
            content: "";
            display: flex;
            background-color: @dark-gray-style-color;
            min-width: @user-circle-size;
            min-height: @user-circle-size;
            max-width: @user-circle-size;
            max-height: @user-circle-size;
            border-radius: 50%;
            background-image: url(../img/user.png);
            background-size: cover;
            margin: 0 27px 0 0;
        }
    }
    &-feedback {
        @feedback-color: #EBEBEB;
        display: flex;
        flex-direction: column;
        color: @black-text-color;
        background-color: @feedback-color;
        padding: 16px;
        box-sizing: border-box;
        border-radius: 8px;
        position: relative;
        &:before {
            @triangle-size: 15px;
            content: "";
            position: absolute;
            left: -(@triangle-size);
            top: ((@user-circle-size) / 2)-(@triangle-size);
            width: 0; 
            height: 0; 
            border-top: @triangle-size solid transparent;
            border-bottom: @triangle-size solid transparent;             
            border-right:@triangle-size solid @feedback-color;
        }
        &-author {
            font-style: italic;
            margin: 15px 0 0 0;
            .compile-font(14px, 18px, 400, #989898);            
        }
    }
}
.prices {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .make-default-section-paddings();
    &-title {
        width: 100%;
        text-align: center;
        margin: 0 0 35px 0;
        .title-font();
    }
    &-template {
        background-color: @dark-gray-style-color;
        margin: 0 45px 0 0 ;
        padding: 16px 0 20px 0;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        &-last {
            margin: 0 0 0 0;
        }
        &-title {
            margin: 0;
            text-align: center;
            .subtitle-font(#ffffff);
        }
        &-value {
            background-color: white;
            border: 1px solid @dark-gray-style-color;
            box-sizing: border-box;
            padding: 17px 0 19px 0;
            text-align: center;
            margin: 17px 0;
            .compile-font(40px, 30px, 400, @dark-gray-style-color);            
        }
        &-features-list {
            padding: 0 20px;
            margin: 0;
            display: flex;
            flex-direction: column;
            list-style-position: inside;
            box-sizing: border-box;
            .compile-font(14px, 24px, 400, #ffffff);
        }
        &-buy {
            text-transform: uppercase;
            box-sizing: border-box;
            margin: 19px 20px 0 20px;
            padding: 14px 0;
            border-radius: 8px;
            outline: none;
            border: none;
            background-color: white;
            .compile-font(18px, 18px, 700, @dark-gray-style-color);
            .button-interactive();
        }
    }
}
.contacts {
    background-color: @dark-gray-style-color;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    .make-default-section-paddings();
    &-title {
        margin: 0;
        width: 100%;
        text-align: center;
        .title-font(#ffffff);
    }
    &-message {
        .input-field(@margin: 0) {
            background-color: white;
            border: none;
            outline: none;
            .base-font(@dark-gray-style-color);
            margin: @margin;
            padding: 14px 10px;
            border-radius: 8px;
            width: 500px;
        }
        display: flex;
        flex-direction: column;
        margin: 30px 45px 0 0;
        &-user-name {
            .input-field(0 0 21px 0);
        }
        &-user-email {
            .input-field(0 0 21px 0);
        }
        &-user-message {
            .input-field(0 0 21px 0);
            height: 170px;
            resize: none;
        }
        &-commit {
            .input-field(0);
            font-weight: 700;
            text-transform: uppercase;
            width: 140px;
            align-self: center;
            .button-interactive();
        }
    }
    &-our-data {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 0 ;
        &-main {
            .base-font(#ffffff);
            text-decoration: none;
            margin: 0 0 18px 0;
            display: flex;         
            align-items: center;   
        }
        @main: {
            1: "../img/skype_icon_319.png";
            2: "../img/icq_icon_324.png";
            3: "../img/email_icon_332.png";
            4: "../img/phone_icon_337.png";
        }        
        each(@main, {
            ._main-@{key}::before {
                content: url(@value);
                margin: 0 5px 0 0;
            }
        });
        ._main-4 {
            margin: 0;
        }
        &-other-wrapper {
            display: flex;
            margin: 32px 0 0 0;            
        }
        @other: {
            1: "../img/twitter.png";
            2: "../img/facebook.png";
            3: "../img/linkedin.png";
            4: "../img/google.png";
            5: "../img/youtube.png";
        }        
        each(@other, {
            ._other-@{key}::before {
                content: url(@value);
                margin: 0 5px 0 0;
            }
        });
    }
}
.copyright {
    text-align: center;
    background-color: @light-gray-style-color;
    padding: 8px 0 5px 0;
    font-style: normal;
    color: @dark-gray-style-color;
}
