@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat-v15-latin-200.woff2);
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat-v15-latin-300.woff2);
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat-v15-latin-regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat-v15-latin-regular.woff2);
  font-weight: normal;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-v18-latin-regular.woff2);
  font-weight: normal;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-v18-latin-500.woff2);
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-v18-latin-600.woff2);
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-v18-latin-700.woff2);
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-v18-latin-800.woff2);
  font-weight: 800;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.woff2);
  font-weight: 800;
}
body {
  margin: 0 auto;
  font-family: Raleway;
  background-color: #d1d1d1;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main {
  display: flex;
  flex-direction: column;
}
.header {
  background-image: url(../img/bg_photo_11949.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header-nav {
  max-width: 1170px;
  width: 100%;
  margin: 38px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-self: flex-start;
  box-sizing: border-box;
}
.header-nav-logo {
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
.header-nav-logo:hover {
  color: #c7b299;
}
.header-nav-logo:active {
  color: #998675;
}
.header-nav-logo-svg {
  fill: #fff;
  transition: 0.3s;
}
.header-nav-logo:hover .header-nav-logo-svg {
  fill: #c7b299;
}
.header-nav-logo:active .header-nav-logo-svg {
  fill: #998675;
}
.header-nav-pages {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;
}
.header-nav-pages-li {
  margin: 0 28px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-pages > :last-child {
  margin: 0;
}
.header-nav-page {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
  transition: 0.3s;
}
.header-nav-page:hover {
  color: #c7b299;
}
.header-nav-page:active {
  color: #998675;
}
.header-nav-magazine {
  display: flex;
  width: 24px;
  height: 24px;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 0 26px 0 60px;
}
.header-nav-search {
  transition: none;
  display: block;
  width: 26px;
  height: 26px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon_search_12272.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}
.header-nav-search::before {
  content: 'sdfsdf';
  position: relative;
  width: 26px;
  height: 26px;
  display: block;
}
.header-nav-search:hover {
  background-image: url("../img/icon_search_12272-hover.png");
  transition: 0.3s;
}
.header-nav-search:active {
  transition: none;
}
.header-nav-search:focus {
  background-image: none;
  position: fixed;
  left: 50%;
  top: 120px;
  width: 80%;
  height: 32px;
  transform: translate(-50%, 0);
  background-color: white;
  box-shadow: 0px 0px 100px 200px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.header-nav-mobile-menu-svg {
  stroke: #fff;
  stroke-width: 6;
  transition: 0.3s;
}
.header-nav-mobile-menu-open {
  display: none;
}
.header-nav-mobile-menu-open-label {
  cursor: pointer;
  transition: 0.3s;
  display: none;
}
.header-nav-mobile-menu-open-label:hover > svg {
  stroke: #c7b299;
}
.header-nav-mobile-menu-open-label:active > svg {
  stroke: #998675;
}
.header-nav-mobile-menu-open:checked ~ .header-nav-pages {
  max-height: 100vh;
  padding: 40px 0 0 0;
}
.header-nav-mobile-menu-open:checked ~ .header-nav-mobile-menu-close-label {
  display: block;
  position: fixed;
}
.header-nav-mobile-menu-open:checked ~ .header-nav-pages > .header-nav-pages-li {
  margin: 0;
  padding: 0;
  margin: 0 0 20px 0;
}
.header-nav-mobile-menu-open:checked ~ .header-nav-pages > .header-nav-pages-li .header-nav-page {
  font-size: 38px;
}
.header-nav-mobile-menu-close {
  display: none;
}
.header-nav-mobile-menu-close-label {
  cursor: pointer;
  transition: 0.3s;
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 26;
  min-width: 59px;
  min-height: 59px;
}
.header-nav-mobile-menu-close-label:hover > svg {
  stroke: #c7b299;
}
.header-nav-mobile-menu-close-label:active > svg {
  stroke: #998675;
}
.header-dots {
  display: flex;
  margin: 328px 0 42px 0;
}
.header-dots-item {
  margin: 0 9px 0 0;
  transition: 0.3s;
}
.header-dots-item:hover::after {
  opacity: 0.9;
}
.header-dots-item:active::after {
  opacity: 0.9;
  background-color: #998675;
}
.header-dots-item::after {
  content: '';
  transition: 0.3s;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  box-sizing: border-box;
}
.header-dots-item-selected::after {
  background-color: transparent !important;
  box-shadow: 0 0 0 2px #fff;
}
.header-dots > :last-child {
  margin: 0;
}
.header-switcher {
  width: 100%;
  padding: 0 150px;
  margin: 276px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  justify-self: flex-end;
}
.header-switcher-prev {
  text-decoration: none;
  font-size: 75px;
  opacity: 0.5;
  color: #fff;
  transition: 0.3s;
  margin: 5px 0 0 0;
}
.header-switcher-prev:hover {
  color: #c7b299;
}
.header-switcher-prev:active {
  color: #998675;
}
.header-switcher-next {
  text-decoration: none;
  font-size: 75px;
  opacity: 0.5;
  color: #fff;
  transition: 0.3s;
  margin: 5px 0 0 0;
}
.header-switcher-next:hover {
  color: #c7b299;
}
.header-switcher-next:active {
  color: #998675;
}
.header-switcher-items {
  display: flex;
  flex-direction: row;
  max-width: 594px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.header-switcher-items .carousel-position-0:nth-child(1) {
  margin: 0;
  opacity: 1;
}
.header-switcher-items .carousel-position-0:nth-child(2) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-0:nth-child(3) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-0:nth-child(4) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-0:nth-child(5) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-1:nth-child(1) {
  margin: 0 0 0 -594px;
  opacity: 0.3;
}
.header-switcher-items .carousel-position-1:nth-child(2) {
  opacity: 1;
}
.header-switcher-items .carousel-position-1:nth-child(3) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-1:nth-child(4) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-1:nth-child(5) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-2:nth-child(1) {
  margin: 0 0 0 -1188px;
  opacity: 0.3;
}
.header-switcher-items .carousel-position-2:nth-child(2) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-2:nth-child(3) {
  opacity: 1;
}
.header-switcher-items .carousel-position-2:nth-child(4) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-2:nth-child(5) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-3:nth-child(1) {
  margin: 0 0 0 -1782px;
  opacity: 0.3;
}
.header-switcher-items .carousel-position-3:nth-child(2) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-3:nth-child(3) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-3:nth-child(4) {
  opacity: 1;
}
.header-switcher-items .carousel-position-3:nth-child(5) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-4:nth-child(1) {
  margin: 0 0 0 -2376px;
  opacity: 0.3;
}
.header-switcher-items .carousel-position-4:nth-child(2) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-4:nth-child(3) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-4:nth-child(4) {
  opacity: 0.3;
}
.header-switcher-items .carousel-position-4:nth-child(5) {
  opacity: 1;
}
.header-switcher-item {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.header-switcher-item-subheader {
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}
.header-switcher-item-header {
  font-family: Raleway;
  font-size: 52px;
  line-height: 1;
  font-weight: 800;
  color: #fff;
  margin: 9px 0 16px 0;
  letter-spacing: 0.005em;
}
.header-switcher-item-info {
  max-width: 95%;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 48px 0;
  letter-spacing: 0.05em;
}
.header-switcher-item-button {
  width: 170px;
  font-family: Raleway;
  background-color: #998675;
  border-radius: 3px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.3s;
  border: 1px solid transparent;
}
.header-switcher-item-button:hover {
  background-color: #fff;
  color: #736357;
  border: 1px solid #736357;
}
.header-switcher-item-button:active {
  background-color: #736357;
  color: #fff;
}
.advertisement {
  margin: 80px auto 79px auto;
  padding: 0 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  justify-content: space-between;
}
.advertisement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  white-space: pre-wrap;
  width: 100%;
  max-width: 264px;
  margin: 0;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}
.advertisement-item-title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  padding: 0;
  margin: 25px 0 13px 0;
}
.advertisement-item-info {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  margin: 0;
  padding: 0;
}
.advertisement-item::before {
  content: "";
  transition: 0.3s;
  color: #555555;
  font-family: 'geekbrains-icons';
  display: block;
  width: 49px;
  height: 49px;
  font-size: 45px;
}
.advertisement-item:after {
  content: '';
  transition: 0.3s;
  margin: 26px 0 0 0;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.advertisement-item:hover::before {
  color: #c7b299;
}
.advertisement-item:hover::after {
  background-color: #c7b299;
}
.advertisement > :last-child {
  margin: 0;
}
.advertisement > :nth-child(1)::before {
  content: "\e900";
}
.advertisement > :nth-child(2)::before {
  content: "\e901";
}
.advertisement > :nth-child(3)::before {
  content: "\e902";
}
.advertisement > :nth-child(4)::before {
  content: "\e903";
}
.ideas {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfaf8;
  height: 699px;
  box-sizing: border-box;
}
.ideas-title {
  padding: 0;
  margin: 77px 0 15px 0;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.ideas-info {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 770px;
  text-align: center;
}
.ideas-images {
  position: relative;
  width: 100%;
  height: 100%;
}
.ideas-images > :nth-child(1) {
  position: absolute;
  width: 770px;
  height: 400px;
  z-index: 10;
  bottom: 0;
  right: 42%;
}
.ideas-images > :nth-child(2) {
  position: absolute;
  margin: 0 auto;
  z-index: 20;
  width: 770px;
  height: 482px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.ideas-images > :nth-child(3) {
  position: absolute;
  width: 770px;
  height: 400px;
  z-index: 10;
  bottom: 0;
  left: 42%;
}
.word-press-theme {
  padding: 43px 0 47px 0;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.word-press-theme-wrapper {
  display: flex;
  max-width: 1170px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.word-press-theme-title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.word-press-theme-title-waxcom {
  color: #c7b299;
}
.word-press-theme-title::after {
  content: "Don't Forget to Rate the Template. Thanks so much!";
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 300;
  color: #615855;
  margin: 6px 0 0 0;
}
.word-press-theme-purchase {
  width: 170px;
  font-family: Raleway;
  background-color: #998675;
  border-radius: 3px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.3s;
  border: 1px solid transparent;
  margin: 7px 0 0 0;
}
.word-press-theme-purchase:hover {
  background-color: #fff;
  color: #736357;
  border: 1px solid #736357;
}
.word-press-theme-purchase:active {
  background-color: #736357;
  color: #fff;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.projects-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  padding: 0;
  margin: 76px 0 15px 0;
}
.projects-info {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 776px;
  text-align: center;
  margin: 0 0 34px 0;
}
.projects-classes {
  display: flex;
  margin: 0 0 40px 0;
  justify-content: space-between;
  justify-items: stretch;
  width: 100%;
  max-width: 626px;
  box-sizing: border-box;
  padding: 0 8px 0 13px;
}
.projects-classes-button {
  min-width: 70px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 0 10px 0 0;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  transition: 0.3s;
  outline: none;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
}
.projects-classes-button:not(:first-child) {
  width: 100%;
}
.projects-classes-button:hover {
  border: 1px solid #998675;
  background-color: #fbfaf8;
}
.projects-classes-button:active {
  border: 1px solid transparent !important;
  background-color: #998675;
  color: white;
}
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.projects-cards-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.projects-cards-item-image {
  transition: 0.3s;
}
.projects-cards-item-footer {
  padding: 26px 0 26px 29px;
  background-color: #fbfaf8;
  position: relative;
  z-index: 20;
  transition: 0.3s;
}
.projects-cards-item-footer-title {
  margin: 0 0 6px 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}
.projects-cards-item-footer-subtitle {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}
.projects-cards-item-footer::before {
  content: '';
  transition: 0.3s;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -10px;
  left: 20px;
}
.projects-cards-item-link {
  color: #fff;
  font-size: 26px;
  margin: 0 28px 0 0;
  height: auto;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 105px;
  display: none;
  transition: 0.3s;
  cursor: pointer;
  left: 140px;
}
.projects-cards-item-link:hover {
  color: #c7b299;
}
.projects-cards-item-link:active {
  color: #998675;
}
.projects-cards-item-search {
  color: #fff;
  font-size: 26px;
  margin: 0 28px 0 0;
  height: auto;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 105px;
  display: none;
  transition: 0.3s;
  cursor: pointer;
  left: 194px;
}
.projects-cards-item-search:hover {
  color: #c7b299;
}
.projects-cards-item-search:active {
  color: #998675;
}
.projects-cards-item:hover > .projects-cards-item-footer {
  background-color: #362f2d;
}
.projects-cards-item:hover > .projects-cards-item-footer::before {
  border-bottom: 10px solid #362f2d;
}
.projects-cards-item:hover > img {
  filter: brightness(50%);
}
.projects-cards-item:hover > button {
  display: block;
}
.projects-cards-item:nth-child(1) {
  margin: 0 0 27px 0;
}
.projects-cards-item:nth-child(2) {
  margin: 0 0 27px 0;
}
.projects-cards-item:nth-child(3) {
  margin: 0 0 27px 0;
}
.projects-more {
  width: 170px;
  font-family: Raleway;
  background-color: #998675;
  border-radius: 3px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.3s;
  border: 1px solid transparent;
  margin: 36px 0 80px 0;
}
.projects-more:hover {
  background-color: #fff;
  color: #736357;
  border: 1px solid #736357;
}
.projects-more:active {
  background-color: #736357;
  color: #fff;
}
.presentation {
  position: relative;
  width: 100%;
  height: 705px;
}
.presentation-controls {
  width: 100%;
  height: 705px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  background-image: url("../img/bg_photo_10983.jpg");
  background-blend-mode: darken;
}
.presentation-controls-hided {
  display: none;
}
.presentation-play {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 76px;
  padding: 0;
  margin: 210px 0 38px 0;
  color: #fff;
  transition: 0.3s;
}
.presentation-play:hover {
  color: #c7b299;
}
.presentation-play:active {
  color: #998675;
}
.presentation-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: white;
  z-index: 10;
  padding: 0;
  margin: 0 0 13px 0;
  box-sizing: border-box;
  text-align: center;
}
.presentation-info {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  z-index: 10;
  max-width: 700px;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  text-align: center;
  box-sizing: border-box;
}
.presentation-timestamp {
  margin: 28px 0 0 0;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}
.presentation-video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.for-mobile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fbfaf8;
  padding: 78px 0 0 0;
}
.for-mobile-image {
  align-self: flex-end;
  margin: 0 0 0 36px;
}
.for-mobile-image-secondary {
  display: none;
}
.for-mobile-description {
  max-width: 660px;
  margin: 109px 0 0 0;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.for-mobile-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 24px 0;
}
.for-mobile-text {
  margin: 0 0 35px 0;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  letter-spacing: -0.01em;
}
.for-mobile-details-block-wrapper {
  display: flex;
  align-items: flex-end;
}
.for-mobile-details-block {
  margin: 0 0 0 50px;
  align-self: flex-start;
}
.for-mobile-detail {
  font-family: Montserrat;
  font-size: 16px;
  margin: 0 0 9px 0;
  font-weight: 300;
  font-style: italic;
  color: black;
  outline: none;
  transition: 0.3s;
  letter-spacing: -0.01em;
}
.for-mobile-detail-inner {
  transition: 0.3s;
  margin: 8px 0 0 48px;
  display: block;
  border: none;
  opacity: 0;
  padding: 0 0 0 8px;
}
.for-mobile-detail[open] > summary::before {
  transform: rotate(90deg);
}
.for-mobile-detail[open] > .for-mobile-detail-inner {
  opacity: 1;
  border-left: 1px solid #8c8c8c;
}
.for-mobile-summary {
  outline: none;
  font-style: normal;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s;
  letter-spacing: -0.01em;
}
.for-mobile-summary::before {
  content: "\e911";
  font-family: 'geekbrains-icons';
  transition: 0.3s;
  display: block;
  margin: 0 30px 0 0;
  color: #c7b299;
  font-size: 21px;
}
.for-mobile-summary::-webkit-details-marker {
  display: none;
}
@keyframes clients {
  0% {
    opacity: 0;
    max-width: 0;
  }
  10% {
    opacity: 1;
    max-width: 200px;
  }
  20% {
    opacity: 0;
    max-width: 0px;
  }
  100% {
    opacity: 0;
    max-width: 0px;
  }
}
@keyframes cofee {
  0% {
    opacity: 0;
    max-width: 0;
  }
  20% {
    opacity: 0;
    max-width: 0px;
  }
  30% {
    opacity: 1;
    max-width: 200px;
  }
  40% {
    opacity: 0;
    max-width: 0px;
  }
  100% {
    opacity: 0;
    max-width: 0px;
  }
}
@keyframes posts {
  0% {
    opacity: 0;
    max-width: 0;
  }
  40% {
    opacity: 0;
    max-width: 0px;
  }
  50% {
    opacity: 1;
    max-width: 200px;
  }
  60% {
    opacity: 0;
    max-width: 0;
  }
  100% {
    opacity: 0;
    max-width: 0px;
  }
}
@keyframes likes {
  0% {
    opacity: 0;
    max-width: 0;
  }
  60% {
    opacity: 0;
    max-width: 0px;
  }
  70% {
    opacity: 1;
    max-width: 200px;
  }
  80% {
    opacity: 0;
    max-width: 0;
  }
  100% {
    opacity: 0;
    max-width: 0px;
  }
}
@keyframes launched {
  0% {
    opacity: 0;
    max-width: 0;
  }
  80% {
    opacity: 0;
    max-width: 0px;
  }
  90% {
    opacity: 1;
    max-width: 200px;
  }
  100% {
    opacity: 0;
    max-width: 0px;
  }
}
.our-results {
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 66px 0 59px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-results-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.our-results-button-limits {
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  stroke-width: 3;
}
.our-results-button:hover > .our-results-button-limits {
  opacity: 1;
  stroke: white;
}
.our-results-button:active > .our-results-button-limits {
  opacity: 1;
  stroke: #c7b299;
}
.our-results-button:active {
  opacity: 0.3;
}
.our-results-button-number {
  transition: 0.3s;
  font-family: Montserrat;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin: 0 0 12px 0;
}
.our-results-button-title {
  transition: 0.3s;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  align-items: center;
  text-transform: uppercase;
  color: #c7b299;
}
.our-results-button:nth-child(1)::before {
  content: "\e904";
  transition: 0.3s;
  font-family: 'geekbrains-icons';
  font-size: 44px;
  color: #c7b299;
  margin: 0 0 28px 0;
}
.our-results-button:nth-child(2)::before {
  content: "\e905";
  transition: 0.3s;
  font-family: 'geekbrains-icons';
  font-size: 44px;
  color: #c7b299;
  margin: 0 0 28px 0;
}
.our-results-button:nth-child(3)::before {
  content: "\e906";
  transition: 0.3s;
  font-family: 'geekbrains-icons';
  font-size: 44px;
  color: #c7b299;
  margin: 0 0 28px 0;
}
.our-results-button:nth-child(4)::before {
  content: "\e907";
  transition: 0.3s;
  font-family: 'geekbrains-icons';
  font-size: 44px;
  color: #c7b299;
  margin: 0 0 28px 0;
}
.our-results-button:nth-child(5)::before {
  content: "\e908";
  transition: 0.3s;
  font-family: 'geekbrains-icons';
  font-size: 44px;
  color: #c7b299;
  margin: 0 0 28px 0;
}
.our-results-button:nth-child(1)::after {
  content: "";
  transition: 0.3s;
  margin: 26px 0 0 0;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}
.our-results-button:nth-child(2)::after {
  content: "";
  transition: 0.3s;
  margin: 26px 0 0 0;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}
.our-results-button:nth-child(3)::after {
  content: "";
  transition: 0.3s;
  margin: 26px 0 0 0;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}
.our-results-button:nth-child(4)::after {
  content: "";
  transition: 0.3s;
  margin: 26px 0 0 0;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}
.our-results-button:nth-child(5)::after {
  content: "";
  transition: 0.3s;
  margin: 26px 0 0 0;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}
.recent-posts {
  background: white;
  padding: 74px 0 81px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s;
}
.recent-posts-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 16px 0;
}
.recent-posts-info {
  margin: 0 0 34px 0;
  max-width: 760px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  letter-spacing: 0.026em;
}
.recent-posts-items {
  display: flex;
  max-width: 1175px;
  width: 100%;
}
.recent-posts-item {
  display: flex;
  flex-direction: column;
  margin: 0 29px 0 0;
  position: relative;
  border: 1px solid #f8f8f8;
  transition: 0.3s;
  max-width: 370px;
}
.recent-posts-item-date {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  z-index: 5;
}
.recent-posts-item-date-day {
  padding: 7px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  transition: 0.3s;
}
.recent-posts-item-date-month {
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  transition: 0.3s;
}
.recent-posts-item-info {
  padding: 26px 28px;
  transition: 0.3s;
  background: transparent;
}
.recent-posts-item-info-title {
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}
.recent-posts-item-info-description {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 17px 0 24px 0;
  line-height: 1.5;
  transition: 0.3s;
}
.recent-posts-item-info-link {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #c7b299;
  display: flex;
  align-items: center;
  transition: 0.3s;
  box-sizing: border-box;
}
.recent-posts-item-info-link::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #c7b299;
}
.recent-posts-item-info-link:hover {
  color: #998675;
}
.recent-posts-item-info-link:hover::after {
  border-left: 6px solid #998675;
}
.recent-posts-item-info-link:active {
  opacity: 0.6;
}
.recent-posts-item:last-child {
  margin: 0;
}
.recent-posts-item:hover > .recent-posts-item-info {
  background-color: #362f2d;
}
.recent-posts-item:hover > .recent-posts-item-info > .recent-posts-item-info-title {
  color: #c7b299;
}
.recent-posts-item:hover > .recent-posts-item-info > .recent-posts-item-info-description {
  color: #fff;
}
.recent-posts-item:hover > .recent-posts-item-date > .recent-posts-item-date-day {
  background-color: #c7b299;
}
.recent-posts-item:hover > .recent-posts-item-date > .recent-posts-item-date-month {
  background-color: #a48d72;
}
.recent-posts-item:hover > img {
  filter: brightness(50%);
}
.recent-posts-switches {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0 0;
}
.recent-posts-switches-previous {
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #d1d1d1;
  outline: none;
  margin: 0 8px 0 0;
}
.recent-posts-switches-previous:hover {
  color: #c7b299;
}
.recent-posts-switches-previous:active {
  color: #998675;
}
.recent-posts-switches-next {
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #d1d1d1;
  outline: none;
}
.recent-posts-switches-next:hover {
  color: #c7b299;
}
.recent-posts-switches-next:active {
  color: #998675;
}
.partners {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/partners_bck.jpg), linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: darken;
  background-size: cover;
  padding: 140px 0 136px 0;
  position: relative;
  transition: 0.3s;
}
.partners-link {
  margin: 0 90px 0 0;
  transition: 0.3s;
}
.partners-link:last-child {
  margin: 0;
}
.partners-link:hover {
  opacity: 0.7;
}
.partners-link:active {
  opacity: 0.9;
}
.footer {
  display: flex;
  flex-direction: column;
}
.summary {
  background-color: #191919;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 78px 0;
}
.summary-wrapper {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
}
.summary-company {
  width: 100%;
  max-width: 270px;
  margin: 69px 0 0 0;
}
.summary-company-logo {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}
.summary-company-logo:before {
  font-family: 'geekbrains-icons';
  content: "\e90e";
  font-size: 60px;
}
.summary-company-info {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
  word-wrap: break-word;
  word-break: break-all;
  margin: 18px 0 24px 0;
  transition: 0.3s;
  letter-spacing: 0.05em;
}
.summary-company-info:hover {
  color: white;
}
.summary-company-link {
  font-family: Montserrat;
  font-size: 14px;
  padding: 0;
  font-weight: 400;
  color: #d1d1d1;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  transition: 0.3s;
}
.summary-company-link::after {
  content: "";
  transition: 0.3s;
  width: 0;
  height: 0;
  margin: 0 0 0 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #d1d1d1;
}
.summary-company-link:hover {
  color: #c7b299;
}
.summary-company-link:hover::after {
  border-left: 6px solid #c7b299;
}
.summary-company-link:active {
  color: #998675;
}
.summary-company-link:active::after {
  border-left: 6px solid #998675;
}
.summary-posts {
  width: 100%;
  max-width: 270px;
  margin: 100px 0 0 0;
}
.summary-posts-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 22px 0;
  padding: 0;
}
.summary-post {
  border-bottom: 2px solid #252525;
  display: flex;
  flex-direction: column;
  padding: 17px 0;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.summary-post:nth-child(2) {
  padding: 0 0 17px 0;
}
.summary-post:last-child {
  border-bottom: none;
  padding: 17px 0 0 0;
}
.summary-post:hover > .summary-post-date {
  color: #ffffff;
}
.summary-post:hover > .summary-post-text {
  color: #c7b299;
}
.summary-post:active {
  opacity: 0.6;
}
.summary-post-date {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  padding: 0;
  margin: 0;
  transition: 0.3s;
  margin: 0 0 3px 0;
}
.summary-post-text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  transition: 0.3s;
  margin: 0 0 0 0;
}
.summary-twitter {
  width: 100%;
  max-width: 270px;
  margin: 100px 0 0 0;
}
.summary-twitter-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 22px 0;
  padding: 0;
}
.summary-twitter-message {
  border-bottom: 2px solid #252525;
  display: flex;
  flex-direction: column-reverse;
  padding: 17px 0;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.summary-twitter-message:nth-child(2) {
  padding: 0 0 17px 0;
}
.summary-twitter-message:last-child {
  border-bottom: none;
  padding: 17px 0 0 0;
}
.summary-twitter-message:hover > .summary-twitter-message-date {
  color: #ffffff;
}
.summary-twitter-message:hover > .summary-twitter-message-text {
  color: #c7b299;
}
.summary-twitter-message:active {
  opacity: 0.6;
}
.summary-twitter-message-date {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  padding: 0;
  margin: 0;
  transition: 0.3s;
  margin: 0 0 0 0;
}
.summary-twitter-message-text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  transition: 0.3s;
  margin: 0 0 3px 0;
}
.summary .blue-mark {
  color: #00bff3 !important;
  text-decoration: none;
}
.summary-dribbble {
  width: 100%;
  max-width: 270px;
  margin: 100px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.summary-dribbble-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 26px 0;
  padding: 0;
  width: 100%;
}
.summary-dribbble-link {
  display: flex;
  transition: 0.3s;
}
.summary-dribbble-link:nth-last-child(2) {
  margin: 12px 0 0 0;
}
.summary-dribbble-link:last-child {
  margin: 12px 0 0 0;
}
.summary-dribbble-link:hover {
  opacity: 0.5;
}
.summary-dribbble-link:active {
  opacity: 0.8;
}
.support {
  display: flex;
  justify-content: center;
  background-color: #111111;
  padding: 39px 0 52px 0;
}
.support-wrapper {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
}
.support-block-1 {
  display: flex;
}
.support-block-1 > :nth-child(1) {
  color: #959595;
  padding: 0 12px 0 0;
}
.support-block-1 > :nth-child(1)::before {
  content: "Copyright © 2015";
  color: #555555;
  margin: 0 4px 0 0;
}
.support-block-1 > :nth-child(3) {
  color: #c7b299;
}
.support-block-1 > :last-child {
  padding: 0 0 0 12px;
  border: none;
}
.support-block-2 {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
}
.support-block-2 > :nth-child(1) {
  color: #959595;
  padding: 0 12px 0 0;
}
.support-block-2 > :nth-child(1)::before {
  content: "Designed by";
  color: #555555;
  margin: 0 4px 0 0;
}
.support-block-2 > :nth-child(2) {
  color: #959595;
  padding: 0 0 0 12px;
  border: none;
}
.support-block-2 > :nth-child(2)::before {
  content: "Only on";
  color: #555555;
  margin: 0 4px 0 0;
}
.support-link {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  text-decoration: none;
  padding: 0 12px 0 12px;
  border-right: 1px solid #252525;
  transition: 0.3s;
}
.support-link:hover {
  color: #00bff3 !important;
}
.support-link:active {
  color: #998675 !important;
}
@media (max-width: 1400px) {
  .ideas {
    height: 580px;
  }
  .ideas-image:nth-child(1) {
    width: 577px;
    height: 300px;
  }
  .ideas-image:nth-child(2) {
    width: 577px;
    height: 362px;
  }
  .ideas-image:nth-child(3) {
    width: 577px;
    height: 300px;
  }
  .word-press-theme {
    padding: 43px 40px 47px 40px;
  }
}
@media (max-width: 1200px) {
  .header-nav {
    padding: 0 10px;
  }
  .header-nav-logo {
    padding: 0 20px 0 0;
  }
  .header-switcher {
    padding: 0 40px;
    margin: 220px 0 0 0;
  }
  .header-dots {
    margin: 300px 0 42px 0;
  }
  .advertisement {
    flex-wrap: wrap;
  }
  .advertisement-item {
    min-width: 50%;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .advertisement-item:nth-child(1) {
    margin: 0 0 80px 0;
  }
  .advertisement-item:nth-child(2) {
    margin: 0 0 80px 0;
  }
  .ideas {
    height: 460px;
  }
  .ideas-image:nth-child(1) {
    width: 385px;
    height: 200px;
  }
  .ideas-image:nth-child(2) {
    width: 385px;
    height: 241px;
  }
  .ideas-image:nth-child(3) {
    width: 385px;
    height: 200px;
  }
  .ideas-info {
    padding: 0 40px;
  }
  .projects-cards {
    justify-content: space-between;
    align-items: center;
  }
  .projects-cards-item:nth-child(1) {
    margin: 0 40px 40px auto;
  }
  .projects-cards-item:nth-child(2) {
    margin: 0 auto 40px 40px;
  }
  .projects-cards-item:nth-child(3) {
    margin: 0 40px 40px auto;
  }
  .projects-cards-item:nth-child(4) {
    margin: 0 auto 40px 40px;
  }
  .projects-cards-item:nth-child(5) {
    margin: 0 40px 0 auto;
  }
  .projects-cards-item:nth-child(6) {
    margin: 0 auto 0 40px;
  }
  .for-mobile-image {
    width: 317px;
    height: 462px;
  }
  .for-mobile-description {
    margin: 0;
    padding: 0 40px 0 30px;
  }
  .recent-posts-title {
    order: 1;
  }
  .recent-posts-info {
    order: 2;
  }
  .recent-posts-items {
    flex-direction: column;
    align-items: center;
    order: 4;
  }
  .recent-posts-item:nth-child(1) {
    margin: 0 0 29px 0;
  }
  .recent-posts-item:nth-child(2) {
    margin: 0 0 29px 0;
  }
  .recent-posts-switches {
    order: 3;
    margin: 0 0 40px 0;
  }
  .partners {
    padding: 80px 0;
  }
  .partners > .partners-link:nth-child(1) > img {
    width: 157px;
    height: 95px;
  }
  .partners > .partners-link:nth-child(2) > img {
    width: 157px;
    height: 157px;
  }
  .partners > .partners-link:nth-child(3) > img {
    width: 157px;
    height: 97px;
  }
  .partners > .partners-link:nth-child(4) > img {
    width: 157px;
    height: 123px;
  }
  .footer .summary {
    padding: 0 40px 40px 40px;
  }
  .footer .summary-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .summary-wrapper > :nth-child(1) {
    margin: 40px 0 0 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #252525;
  }
  .footer .summary-wrapper > :nth-child(1) > a {
    display: none;
  }
  .footer .summary-wrapper > :nth-child(1) > p {
    text-align: center;
  }
  .footer .summary-wrapper > :nth-child(2) {
    margin: 40px 20px 0 0;
    max-width: 45%;
    display: flex;
    flex-direction: column;
  }
  .footer .summary-wrapper > :nth-child(2) > h4 {
    text-align: center;
  }
  .footer .summary-wrapper > :nth-child(3) {
    margin: 40px 0 0 0;
    max-width: 45%;
    display: flex;
    flex-direction: column;
  }
  .footer .summary-wrapper > :nth-child(3) > h4 {
    text-align: center;
  }
  .footer .summary-wrapper > :nth-child(4) {
    margin: 40px 0 0 0;
    min-width: 100%;
    justify-content: center;
  }
  .footer .summary-wrapper > :nth-child(4) > h4 {
    text-align: center;
  }
  .footer .summary-wrapper > :nth-child(4) > :nth-child(2) {
    margin: 0 20px 0 0;
  }
  .footer .summary-wrapper > :nth-child(4) > :nth-child(3) {
    margin: 0 20px 0 0;
  }
  .footer .summary-wrapper > :nth-child(4) > :nth-child(4) {
    margin: 0 20px 0 0;
  }
  .footer .summary-wrapper > :nth-child(4) > :nth-child(5) {
    margin: 0;
  }
  .footer .support {
    padding: 39px 40px 52px 40px;
  }
}
@media (max-width: 992px) {
  .header-nav {
    padding: 0 40px;
  }
  .header-nav-logo {
    padding: 0;
  }
  .header-nav-pages {
    z-index: 25;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(0, 0, 0, 0.95);
    left: 0;
    top: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
  }
  .header-nav-mobile-menu-open-label {
    display: block;
    order: 20;
  }
  .header-nav-magazine {
    margin: 0 26px 0 0;
    width: auto;
    height: auto;
    font-size: 32px;
  }
  .header-nav-search {
    margin: 0 26px 0 0;
    width: 32px;
    height: 32px;
  }
  .header-switcher {
    margin: 120px 0 0 0;
  }
  .header-switcher-item-subheader {
    font-size: 27px;
  }
  .header-switcher-item-header {
    font-size: 39px;
  }
  .header-dots {
    margin: 100px 0 42px 0;
  }
  .word-press-theme-title {
    margin: 0 40px 0 0;
    max-width: 270px;
  }
  .projects-info {
    padding: 0 40px;
  }
  .projects-cards {
    justify-content: space-between;
    align-items: center;
  }
  .projects-cards-item:nth-child(1) {
    margin: 0 3px 6px auto;
  }
  .projects-cards-item:nth-child(2) {
    margin: 0 auto 6px 3px;
  }
  .projects-cards-item:nth-child(3) {
    margin: 0 3px 6px auto;
  }
  .projects-cards-item:nth-child(4) {
    margin: 0 auto 6px 3px;
  }
  .projects-cards-item:nth-child(5) {
    margin: 0 3px 0 auto;
  }
  .projects-cards-item:nth-child(6) {
    margin: 0 auto 0 3px;
  }
  .presentation-title {
    padding: 0 40px;
  }
  .presentation-info {
    padding: 0 40px;
  }
  .for-mobile {
    padding: 40px 0 0 0;
  }
  .for-mobile-description {
    padding: 0 40px 0 0;
  }
  .for-mobile-details-block {
    margin: 0;
  }
  .for-mobile-title {
    margin: 0 0 10px 0;
  }
  .for-mobile-text {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 10px 0;
  }
  .for-mobile-detail {
    font-size: 14px;
  }
  .recent-posts-info {
    padding: 0 40px;
    box-sizing: border-box;
  }
  .partners {
    padding: 40px 0;
  }
  .partners > .partners-link {
    margin: 0 40px 0 0;
  }
  .partners > .partners-link:last-child {
    margin: 0;
  }
  .partners > .partners-link:nth-child(1) > img {
    width: 105px;
    height: 64px;
  }
  .partners > .partners-link:nth-child(2) > img {
    width: 105px;
    height: 105px;
  }
  .partners > .partners-link:nth-child(3) > img {
    width: 105px;
    height: 65px;
  }
  .partners > .partners-link:nth-child(4) > img {
    width: 105px;
    height: 82px;
  }
  .footer .support {
    padding: 40px 40px 20px 40px;
  }
  .footer .support-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .footer .support-block-1 {
    margin: 0 10px 20px 0;
  }
  .footer .support-block-2 {
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 0 0 40px 0;
  }
  .header-switcher {
    display: none;
  }
  .header-dots {
    display: none;
  }
  .advertisement {
    flex-wrap: wrap;
  }
  .advertisement-item {
    padding: 0 20px;
  }
  .ideas {
    display: none;
  }
  .projects-classes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects-classes-button {
    min-width: 35%;
    max-width: 35%;
    margin: 0 20px 20px 0;
  }
  .projects-classes-button:nth-child(even) {
    margin: 0 0 20px 0;
  }
  .projects-classes-button:last-child {
    margin: 0;
  }
  .projects-cards {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .projects-cards-item:nth-child(1) {
    margin: 0 auto 10px auto;
  }
  .projects-cards-item:nth-child(2) {
    margin: 0 auto 10px auto;
  }
  .projects-cards-item:nth-child(3) {
    margin: 0 auto 10px auto;
  }
  .projects-cards-item:nth-child(4) {
    margin: 0 auto 10px auto;
  }
  .projects-cards-item:nth-child(5) {
    margin: 0 auto 10px auto;
  }
  .projects-cards-item:nth-child(6) {
    margin: 0 auto 0 auto;
  }
  .for-mobile-image {
    display: none;
  }
  .for-mobile-image-secondary {
    display: block;
  }
  .for-mobile-description {
    padding: 0 40px;
  }
  .our-results-button:nth-child(1) {
    animation: clients 30s infinite ease backwards;
  }
  .our-results-button:nth-child(2) {
    animation: cofee 30s infinite ease backwards;
  }
  .our-results-button:nth-child(3) {
    animation: posts 30s infinite ease backwards;
  }
  .our-results-button:nth-child(4) {
    animation: likes 30s infinite ease backwards;
  }
  .our-results-button:nth-child(5) {
    animation: launched 30s infinite ease backwards;
  }
  .footer .summary-dribbble-image {
    width: 97px;
    height: 73px;
  }
}
@media (max-width: 576px) {
  .header-nav {
    padding: 0 20px;
  }
  .advertisement {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
  }
  .advertisement-item {
    min-width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .advertisement-item:nth-child(1) {
    margin: 0 0 40px 0;
  }
  .advertisement-item:nth-child(2) {
    margin: 0 0 40px 0;
  }
  .advertisement-item:nth-child(3) {
    margin: 0 0 40px 0;
  }
  .word-press-theme-title {
    max-width: 240px;
    font-size: 24px;
  }
  .partners {
    padding: 20px 0;
  }
  .partners > .partners-link {
    margin: 0 20px 0 0;
  }
  .partners > .partners-link:last-child {
    margin: 0;
  }
  .partners > .partners-link:nth-child(1) > img {
    width: 78px;
    height: 48px;
  }
  .partners > .partners-link:nth-child(2) > img {
    width: 78px;
    height: 78px;
  }
  .partners > .partners-link:nth-child(3) > img {
    width: 78px;
    height: 48px;
  }
  .partners > .partners-link:nth-child(4) > img {
    width: 78px;
    height: 61px;
  }
  .footer .summary-wrapper > :nth-child(4) > :nth-child(2) {
    margin: 0 10px 0 0;
  }
  .footer .summary-wrapper > :nth-child(4) > :nth-child(3) {
    margin: 0 10px 0 0;
  }
  .footer .summary-wrapper > :nth-child(4) > :nth-child(4) {
    margin: 0 10px 0 0;
  }
  .footer .summary-wrapper > :nth-child(4) > :nth-child(5) {
    margin: 0;
  }
  .footer .summary-dribbble-image {
    width: 65px;
    height: 48px;
  }
  .footer .support {
    padding: 20px 10px 0 10px;
  }
  .footer .support-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .footer .support-block-1 {
    margin: 0 0 10px 0;
  }
  .footer .support-block-2 {
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 480px) {
  .projects-classes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects-classes-button {
    min-width: 50%;
    max-width: 50%;
    margin: 0 0 20px 0;
  }
  .projects-classes-button:last-child {
    margin: 0;
  }
  .presentation-play {
    margin: 150px 0 38px 0;
  }
  .for-mobile-description {
    padding: 0 10px;
  }
}
@media (max-width: 400px) {
  .header-nav {
    padding: 0 4px;
  }
  .header-nav-magazine {
    margin: 0 10px 0 0;
  }
  .header-nav-search {
    margin: 0 10px 0 0;
  }
  .projects-cards-item-image {
    width: 277px;
    height: 177px;
  }
  .projects-cards-item-link {
    left: 100px;
    top: 78px;
  }
  .projects-cards-item-search {
    left: 140px;
    top: 78px;
  }
  .for-mobile-image-secondary {
    width: 158px;
    height: 231px;
  }
  .recent-posts-item {
    max-width: 277px;
  }
  .recent-posts-item-image {
    width: 277px;
    height: 165px;
  }
  .partners > .partners-link:nth-child(1) > img {
    width: 58px;
    height: 36px;
  }
  .partners > .partners-link:nth-child(2) > img {
    width: 58px;
    height: 58px;
  }
  .partners > .partners-link:nth-child(3) > img {
    width: 58px;
    height: 36px;
  }
  .partners > .partners-link:nth-child(4) > img {
    width: 58px;
    height: 45px;
  }
  .footer .summary {
    padding: 0 8px 20px 8px;
  }
}
